<ul role="navigation">
    <li class="ng-star-inserted">
        <a class="nav-link" title="features"  routerLink="/features">特征</a>
    </li>
    <li class="ng-star-inserted">
        <a class="nav-link" title="docs"  routerLink="/docs">文档</a>
    </li>
    <li class="ng-star-inserted">
        <a class="nav-link" title="resources"  routerLink="/resources">资源</a>
    </li>
    <li class="ng-star-inserted">
        <a class="nav-link" title="events"  routerLink="/events">事件</a>
    </li>
    <li class="ng-star-inserted">
        <a class="nav-link" title="blog" href="javascript:void(0);">博客</a>
    </li>
</ul>