<nav>
    <li><a [routerLink]="['authoritymanage']">权限管理</a></li>
    <li><a [routerLink]="['education-plan']">教学规划</a></li>
    <li><a [routerLink]="['exam-manage']">考试管理</a></li>
    <li><a [routerLink]="['examination-questions-manage']">试题管理</a></li>
    <li><a [routerLink]="['information-manage']">信息管理</a></li>
    <li><a [routerLink]="['organization-manage']">组织机构管理</a></li>
    <li><a [routerLink]="['score-manage']">成绩管理</a></li>
    <li><a [routerLink]="['user-manage']">用户管理</a></li>
    <!-- <dd>
      <dl><a routerLink="/user">用户列表</a></dl>
      <dl><a routerLink="/home">主页</a></dl>
    </dd> -->
</nav>
