<button class="hamburger mat-button" mat-button="" title="Docs menu">
    <span class="mat-button-wrapper">
        <mat-icon class="mat-icon" role="img" svgicon="menu" aria-hidden="true"></mat-icon>
    </span>
    <div class="mat-button-ripple mat-ripple" matripple=""></div>
    <div class="mat-button-focus-overlay"></div>
</button>
<a class="nav-link home" href="javascript:void(0);">
    <img alt="Home" height="40" src="https://v5.angular.io/assets/images/logos/angular/logo-nav@2x.png" title="Home" width="150"
        class="ng-star-inserted">
</a>
<!-- 菜单 -->
<mat-aio-top-menu class="ng-star-inserted"></mat-aio-top-menu>
<!-- 搜索 -->
<mat-aio-search-box></mat-aio-search-box>