<div style="opacity: 1;">
  <div class="content">
    <h1 class="no-toc" id="what-is-angular">
      <a title="Link to this heading" class="header-link" aria-hidden="true" href="docs#what-is-angular">
        <i class="material-icons">link</i>
      </a>What is Angular?</h1>
    <p>Angular is a platform that makes it easy to build applications with the web. Angular combines declarative templates,
      dependency injection, end to end tooling, and integrated best practices to solve development challenges. Angular empowers
      developers to build applications that live on the web, mobile, or the desktop</p>
    <div class="card-container">
      <a href="generated/live-examples/toh-pt1/stackblitz.html" target="_blank" class="docs-card" title="Experience Angular in a live coding environment">
        <section>Get a Glimpse of Angular</section>
        <p>A quick look at an Angular "hello world" application.</p>
        <p class="card-footer">Angular in Action</p>
      </a>
      <a href="guide/quickstart" class="docs-card" title="Angular Quickstart">
        <section>Get Going with Angular</section>
        <p>Get going on your own environment with the Quickstart.</p>
        <p class="card-footer">Quickstart</p>
      </a>
      <a href="guide/architecture" class="docs-card" title="Angular Architecture">
        <section>Fundamentals</section>
        <p>Learn Angular application fundamentals, starting with an architecture overview.</p>
        <p class="card-footer">Architecture</p>
      </a>
    </div>
    <h2 id="assumptions">
      <a title="Link to this heading" class="header-link" aria-hidden="true" href="docs#assumptions">
        <i class="material-icons">link</i>
      </a>Assumptions</h2>
    <p>This documentation assumes that you are already familiar with
      <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/A_re-introduction_to_JavaScript" title="Learn JavaScript">JavaScript</a>, and some of the tools from the
      <a href="https://babeljs.io/learn-es2015/" title="Latest JavaScript standards">latest standards</a> such as
      <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Classes" title="ES2015 Classes">classes</a>
      and
      <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/import" title="ES2015 Modules">modules</a>. The code samples are written using
      <a href="https://www.typescriptlang.org/" title="TypeScript">TypeScript</a>. Most Angular code can be written with just the latest JavaScript, using
      <a href="https://www.typescriptlang.org/docs/handbook/classes.html" title="TypeScript Types">types</a> for dependency injection, and using
      <a href="https://www.typescriptlang.org/docs/handbook/decorators.html" title="Decorators">decorators</a> for metadata.</p>
    <h2 id="feedback">
      <a title="Link to this heading" class="header-link" aria-hidden="true" href="docs#feedback">
        <i class="material-icons">link</i>
      </a>Feedback</h2>
    <p>You can sit with us!</p>
    <p>You can file documentation
      <a href="https://github.com/angular/angular/issues" title="Angular Github issues">issues</a> and create
      <a href="https://github.com/angular/angular/pulls" title="Angular Github pull requests">pull requests</a>
      on the Angular Github repository. The
      <a href="https://github.com/angular/angular/blob/master/CONTRIBUTING.md" title="Contributing guide">contributing guide</a>
      will help you contribute to the community. Our community values respectful, supportive communication. Please consult and
      adhere to the
      <a href="https://github.com/angular/code-of-conduct/blob/master/CODE_OF_CONDUCT.md" title="contributor code of conduct">code of conduct</a>.</p>

  </div>

  <!-- links to this doc:
  -->
  <!-- links from this doc:
   - docs#assumptions
   - docs#feedback
   - docs#what-is-angular
   - generated/live-examples/toh-pt1/stackblitz.html
   - guide/architecture
   - guide/quickstart
   - https://babeljs.io/learn-es2015/
   - https://developer.mozilla.org/en-US/docs/Web/JavaScript/A_re-introduction_to_JavaScript
   - https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Classes
   - https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/import
   - https://github.com/angular/angular/blob/master/CONTRIBUTING.md
   - https://github.com/angular/angular/issues
   - https://github.com/angular/angular/pulls
   - https://github.com/angular/code-of-conduct/blob/master/CODE_OF_CONDUCT.md
   - https://www.typescriptlang.org/
   - https://www.typescriptlang.org/docs/handbook/classes.html
   - https://www.typescriptlang.org/docs/handbook/decorators.html
  -->
</div>