<mat-icon></mat-icon>
<span class="message"> Help Angular by taking a
    <b>1 minute survey</b>! </span>
<span class="action-button">Go to survey</span>
<button class="close-button mat-icon-button" aria-label="Close" mat-icon-button="">
    <span class="mat-button-wrapper">
        <mat-icon aria-label="Dismiss notification" class="mat-icon ng-tns-c2-0" role="img" svgicon="close" aria-hidden="true">
        </mat-icon>
    </span>
    <div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></div>
    <div class="mat-button-focus-overlay"></div>
</button>
